<!DOCTYPE html>
<html>
    <head>  
        <meta charset="utf-8" />
        <title> Flap.io </title>
        <!-- node fournit socket.io.js -->
        <% if (pseudo) { %>
            <script>
                var pseudo = "<%= pseudo %>";       
            </script>
        <% } %>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="phaser.min.js"></script>
        <script type="text/javascript" src="js/socketInit.js"></script>
        <script type="text/javascript" src="js/events/menuEvents.js"></script>
        <script type="text/javascript" src="js/events/playEvents.js"></script>
        <script type="text/javascript" src="js/boot.js"></script>
        <script type="text/javascript" src="js/load.js"></script>
        <script type="text/javascript" src="js/menu.js"></script> 
        <script type="text/javascript" src="js/play.js"></script>
        <script type="text/javascript" src="js/win.js"></script>
        <script type="text/javascript" src="js/game.js"></script>      
    </head>

    <body>
        
    </body>  
</html>  